.map_canvas { 
  width: 100%; 
  height: 400px; 
  margin: 10px 20px 10px 0;
  float: none;
  background: #FFFFFF !important;
}

#loading{
	left:10px;
	position:relative;
	top:3px;
	visibility:hidden;
}

#error{
	background-color:#ffebe8;
	border:1px solid #dd3c10;
	padding:7px 3px;
	text-align:center;
	color:#b00000;
	margin-top:10px;
	visibility:hidden;
	font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size:12px; 
	color:#165a16;
	text-align:center;
}

.done{
	background:#b8edb8;
	border:1px solid #269926;
	padding:10px;
	width:90%; 
	margin:20px auto; 
	display:none;
}

.done p{
	font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size:12px; 
	color:#165a16;
	text-align:center;
}

.message{
	background:#b8edb8;
	border:1px solid #269926;
	padding:10px;
	width:90%; 
	margin:20px auto; 
	font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size:12px; 
	color:#165a16;
	text-align:center;
}

.error{
	background:#ffbfbf;
	border:1px solid #ff0000;
	padding:10px;
	width:90%; 
	margin:20px auto; 
	font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size:12px; 
	color:#ff0000;
	text-align:center;
}


/* Pagination Class */
.pagination {
	margin: 0 !important;
}

div.pagination  {
	border-left: solid 1px #DDD;
	height: 30px;

}

.pagination span {
	background: #FFF;
  border-color:#DDDDDD;
  border-style:solid;
  border-width:1px 1px 1px 0;
  float:left;
  line-height:20px;
  padding:4px 12px;
  text-decoration:none;
}

/* Modification to accomodate Masonry */



